<!-- Parte De Visualizar o Dashboard -->
@if (lista != null) {
  <app-moeda-table
    [listaDeCotacoes]="lista">
  </app-moeda-table>
} @else {
  <div class="alert alert-warning d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      Carregando os dados...
    </div>
  </div>
}

<!-- Parte De Visualizar o Conversor de moedas -->
<app-moeda-conversor></app-moeda-conversor>
